* {
    margin: 0px;
    padding: 0px;
    scroll-behavior: smooth;
    box-sizing: border-box;
}

.main {
    background-image: url(Assets/bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 97vh;
    /* position: relative; */
}

.main .box {
    background-color: black;
    height: 100%;
    width: 100%;
    opacity: 0.76;
    position: absolute;
    top: 0px;
}

nav {
    display: flex;
    /* border: 2px solid red; */
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    margin: auto;
    height: 62px;
    width: 82vw;
    position: relative;
    z-index: 10;
}

nav img {
    height: 40px;
}

.nav{
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.8000) 0.000%, rgba(0, 0, 0, 0.7889) 8.333%, rgba(0, 0, 0, 0.7556) 16.67%, rgba(0, 0, 0, 0.7000) 25.00%, rgba(0, 0, 0, 0.6222) 33.33%, rgba(0, 0, 0, 0.5222) 41.67%, rgba(0, 0, 0, 0.4000) 50.00%, rgba(0, 0, 0, 0.2778) 58.33%, rgba(0, 0, 0, 0.1778) 66.67%, rgba(0, 0, 0, 0.1000) 75.00%, rgba(0, 0, 0, 0.04444) 83.33%, rgba(0, 0, 0, 0.01111) 91.67%, rgba(0, 0, 0, 0.000) 100.0%);
}

.signIn {
    cursor: pointer;
    background-color: rgb(255, 51, 51);
}

.navbar .btn :first-child {
    background-color: transparent;
    /* border: none; */
    color: white;
    padding: 4px 36px 4px 20px;
    /* align-items: left; */
    font-size: 0.98rem;
    font-weight: 500;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border-radius: 3px;
    margin: 7px;
}

.navbar .btn :last-child {
    background-color: red;
    border: none;
    color: white;
    padding: 5px 15px 5px 15px;
    font-size: 0.98rem;
    font-weight: 500;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border-radius: 5px;
}

#img{
    border: 2px solid red;
}

#dropDown{
    color: black;
    background-color: white;
}

#dropDown:hover{
    color: white;
}

.navbar .btn button:hover {
    background-color: darkred;
    transition: 0.3s ease;
}

.content {
    /* border: 2px solid red; */
    position: relative;
    top: 150px;
}

.first_content {
    /* border: 1px solid red; */
    color: white;
    position: relative;
    /* top: 150px; */
    z-index: 2;
    height: 88%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 18px;
}

.first_content :first-child {
    font-weight: bolder;
    font-size: 56px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    width: 600px;
    text-align: center;
}

.first_content :nth-child(2) {
    font-size: 20px;
    margin-bottom: 15px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
}

.first_content :nth-child(3) {
    font-size: 17px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
}

.last_content {
    /* position: relative; */
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
    margin: 20px;
}

.last_content input {
    font-size: 16px;
    padding: 16px;
    width: 25vw;
    background-color: transparent;
    border: 1px solid gray;
    border-radius: 4px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
}

.content .last_content button {
    margin-left: 10px;
    background-color: red;
    color: white;
    font-size: 25px;
    font-weight: 500;
    border-radius: 4px;
    border: none;
    padding: 10px 13px 10px 13px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    width: 14vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.last_content button:hover {
    cursor: pointer;
    background-color: darkred;
    transition: 0.3s ease;
}

/* .cn{
    box-sizing: border-box;
    overflow-x: hidden;
    position: relative;
    height: 6.25rem;
    z-index: 1;
} */

/* .curve_container{
    background: radial-gradient(50% 500% at 50% -420%, rgba(64, 97, 231, 0.4) 80%, rgba(0, 0, 0, 0.1) 100%), black;
    height: 100%;
    width: 100%;
    border: solid .25rem transparent;
    border-bottom: none;
    box-sizing: border-box;
    border-top-left-radius: 50% 100%;
    border-top-right-radius: 50% 100%;
}

.curve_container::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(to right, rgba(33, 13, 22, 1) 16%, rgba(184, 40, 105, 1), rgba(229, 9, 20, 1), rgba(184, 40, 105, 1), rgba(33, 13, 22, 1) 84%);
    height: 100%;
    width: 100%;
    z-index: -1;
    margin-top: -.2rem;
    border-radius: inherit;
    border-top-left-radius: 50% 100%;
    border-top-right-radius: 50% 100%;
} */
.curve_container {
    background: radial-gradient(50% 500% at 50% -420%, rgba(64, 97, 231, 0.4) 80%, rgba(0, 0, 0, 0.1) 100%), black;
    height: 100px;
    border: solid .25rem transparent;
    border-top-left-radius: 50% 100%;
    border-top-right-radius: 50% 100%;
    border-bottom: none;
    position: relative;
    bottom: 45px;
    box-sizing: border-box;
}

.curve_container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: 5px;
    margin-top: -.25rem;
    background: linear-gradient(to right, rgba(33, 13, 22, 1) 16%, rgba(184, 40, 105, 1), rgba(229, 9, 20, 1), rgba(184, 40, 105, 1), rgba(33, 13, 22, 1) 84%);
    z-index: 1;
    border-top-left-radius: 50% 100%;
    border-top-right-radius: 50% 100%;
}

.rest_content {
    /* display: flex; */
    justify-content: center;
    /* background-color: black; */
    /* border: 1px solid red; */
}

.slider{
    display: flex;
    /* border: 1px solid red; */
    width: 90vw;
    max-width: 120rem;
    margin: 0 auto;
    z-index: 2;
    box-sizing: border-box;
}

#last{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
    padding: 0 5rem;
    /* border: 1px solid green; */

}

.first1:first-child {
    color: white;
    margin: 30px;
    margin-left: -10px;
    margin-top: 0px;
    font-size: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* .trend{
    border: 2px solid red;
    margin: 0px;
    position: relative;
    top: -15px;
} */
.first1>select:nth-child(2) {
    background-color: transparent;
    color: white;
    padding: 8px 36px 8px 12px;
    font-size: 0.98rem;
    font-weight: 500;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border-radius: 5px;
    margin: 15px;
    margin-left: 0px;
}

.first1>select:nth-child(3) {
    background-color: transparent;
    color: white;
    padding: 8px 36px 8px 12px;
    font-size: 0.98rem;
    font-weight: 500;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border-radius: 5px;
    margin: 15px;
}

body {
    background-color: black;
}

.cards {
    /* border: 2px solid yellow; */
    display: flex;
    flex-direction: row;
    height: 300px;
    width: 85vw;
    overflow-x: scroll;
    /* overflow: hidden; */
    overflow-y: hidden;
    scrollbar-width: none;
    scroll-behavior: smooth;
    gap: 10px;
}

.cards button {
    border: none;
    background-color: black;
    /* border: 2px solid green; */
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.cards::-webkit-scrollbar {
    display: none;
}

.num {
    line-height: 1;
    display: inline-block;
    height: 1em;
    position: relative;
    font-weight: 700;
    color: black;
    -webkit-text-stroke: 0.14rem rgb(255, 255, 255);
    text-shadow: 0 0 1.5rem rgba(0, 0, 0, 0.5);
    font-size: 7rem;
    bottom: 8.7rem;
    left: -4.7rem;
}

.cards img {
    margin: 8.8px 22px;
    border-radius: 10px;
    background-size: cover;
    width: 175px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.5);
}

.cards button:hover {
    transform: scale(1.07);
    cursor: pointer;
}

.cc {
    display: flex;
    align-items: center;
}

.forwardArrow, .backwardArrow {
    display: flex;
    align-items: center;
    background: rgb(0, 0, 0);
    padding-left: 0.75rem;
    -webkit-transition: -webkit-transform 400ms ease-in-out;
    transition: transform 400ms ease-in-out;
    position: relative;
    top: 13rem;
    height: 50%;
}

.backwardArrow{
    padding-left: 0rem;
    padding-right: 0.75rem;
}

.forwardArrow button, .backwardArrow button {
    height: 17vh;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    border: none;
}

.forwardArrow button:hover, .backwardArrow button:hover {
    cursor: pointer;
    background-color: rgb(69, 69, 69);
}

.forwardArrow svg, .backwardArrow svg {
    color: white;
}


.clickContainer1,  .clickContainer2, .clickContainer3, .clickContainer4, .clickContainer5, .clickContainer6, .clickContainer7, .clickContainer8, .clickContainer9, .clickContainer10  {

    background: rgb(22, 22, 22);
    border: 0.0625rem solid rgba(128, 128, 128, 0.4);
    /* display: none; */
    border-radius: 0.5rem;
    box-shadow: rgba(0, 0, 0, 0.8) 0px 0.25rem 0.5rem 0px;
    box-sizing: border-box;
    color: rgba(255, 255, 255, 0.7);
    width: 100%;
    max-height: min(100%, 100% - 3rem);
    max-width: 41.8125rem;
    overflow: hidden;
    /* position: relative; */
    /* transition: opacity 100ms cubic-bezier(0.32, 0.94, 0.6, 1) 100ms, transform 533ms cubic-bezier(0.32, 0.94, 0.6, 1) 4ms; */
    /* transition: transform 3s ease; */
    /* transition-delay: 1s; */
    overflow: hidden;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 99;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    opacity: 0;
    visibility: hidden;
    /* transition: all 0.3s ease; */
    transition: opacity 100ms cubic-bezier(0.32, 0.94, 0.6, 1) 100ms, transform 533ms cubic-bezier(0.32, 0.94, 0.6, 1) 4ms;

    /* bottom: 25rem; */
}


.clickContainer1.active,  .clickContainer2.active, .clickContainer3.active, .clickContainer4.active, .clickContainer5.active, .clickContainer6.active, .clickContainer7.active, .clickContainer8.active, .clickContainer9.active, .clickContainer10.active {
    /* display: block; */
    opacity: 1;
    visibility: visible;
}

.close {
    align-items: center;
    border: 0.0625rem solid rgba(0, 0, 0, 0);
    box-sizing: border-box;
    display: inline-flex;
    font-size: 13px;
    font-weight: 400;
    justify-content: center;
    padding: 2px 7px;
    border-radius: 50%;
    position: absolute;
    transition-duration: 250ms;
    /* transition-property: background-color, border-color; */
    transition-timing-function: cubic-bezier(0.9, 0, 0.51, 1);
    width: 2.5rem;
    height: 2.5rem;
    background: rgba(0, 0, 0, 0);
    color: rgb(255, 255, 255);
    top: 10px;
    right: 10px;
    z-index: 99;
}

.close:hover{
    cursor: pointer;

    background-color: rgba(215, 215, 215, 0.353);
}

body.stopScrolling{
    overflow: hidden;
    padding-right: 17px;

    /* transition: all 1s ease-in-out; */
}

.slideAnimation {
    position: relative;
    animation-name: ayush1;
    animation-duration: 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
}

@keyframes ayush1 {
    0% {
        right: 0px;
    }

    25% {
        right: 1035px;
    }

    75% {
        right: 1035px;
    }

    100% {
        right: 1035px;
    }
}

.slideAnimation2 {
    position: relative;
    animation-name: ayush2;
    animation-duration: 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
}

@keyframes ayush2 {
    0% {
        right: 1035px;
    }

    25% {
        right: 0px;
    }

    75% {
        right: 0px;
    }

    100% {
        right: 0px;
    }

}

.cardImg {
    max-width: 41.8125rem;
    width: 100%;
    height: 48vh;
}

.cardImg img {
    max-width: 41.8125rem;
}

.clickContent1::after, .clickContent2::after, .clickContent3::after, .clickContent4::after, .clickContent5::after,.clickContent6::after, .clickContent7::after, .clickContent9::after, .clickContent10::after
{
    content: "";
    position: absolute;
    z-index: 2;
    inset: 0;
    background: linear-gradient(40deg, rgb(22, 22, 22, 0.9) 24.16%, rgba(6, 10, 23, 0) 56.61%),
        linear-gradient(0deg, rgb(22, 22, 22, 0.9) 3.91%, rgba(6, 10, 23, 0) 69.26%);
    height: 49vh;
}

.clickContent8::after {
    content: "";
    position: absolute;
    z-index: 2;
    inset: 0;
    background: linear-gradient(40deg, rgb(22, 22, 22) 24.16%, rgba(6, 10, 23, 0) 56.61%),
        linear-gradient(0deg, rgb(22, 22, 22) 3.91%, rgba(6, 10, 23, 0) 69.26%);
    height: 52vh;
}

.name {
    position: relative;
    z-index: 3;
    bottom: 134px;
    left: 2.5rem;
    max-width: 29rem;
}

.clickContainer1 .clickContent1 .cardImg .name {
    bottom: 100px;
}

.clickContainer1 .clickContent1 .cardImg .name img{
    max-width: 22rem;
}

.clickContainer2 .clickContent2 .cardImg .name {
    bottom: 75px;
}

.clickContainer2 .clickContent2 .cardImg .name img{
    max-width: 22rem;
}

.clickContainer3 .clickContent3 .cardImg .name {
    bottom: 111px;
    max-width: 13rem;
}

.clickContainer3 .clickContent3 .cardImg .name img{
    max-width: 13rem;
}

.clickContainer4 .clickContent4 .cardImg .name {
    bottom: 37px;
}

.clickContainer4 .clickContent4 .cardImg .name img{
    max-width: 22rem;
}

.clickContainer5 .clickContent5 .cardImg .name {
    bottom: 112px;
    max-width: 13rem;    
}

.clickContainer5 .clickContent5 .cardImg .name img{
    max-width: 13rem;    
}

.clickContainer6 .clickContent6 .cardImg .name {
    bottom: 105px;
    max-width: 13rem;
}

.clickContainer6 .clickContent6 .cardImg .name img{
    max-width: 12rem;
}

.clickContainer7 .clickContent7 .cardImg .name {
    bottom: 120px;
    max-width: 6rem;
}

.clickContainer7 .clickContent7 .cardImg .name img{
    max-width: 6rem;
}

.clickContainer8 .clickContent8 .cardImg .name {
    bottom: 110px;
}

.clickContainer8 .clickContent8 .cardImg .name img{
    max-width: 20rem;
}

.clickContainer9 .clickContent9 .cardImg .name {
    bottom: 110px;
}

.clickContainer9 .clickContent9 .cardImg .name img{
    max-width: 12rem;
}

.clickContainer10 .clickContent10 .cardImg .name{
    bottom: 115px;
    max-width: 22rem;
}

.clickContainer10 .clickContent10 .cardImg .name img{
    max-width: 22rem;
}

.belowContent {
    padding: 16px 40px 40px;
}

.belowContent ul {
    display: flex;
    margin-bottom: 12px;
}

.belowContent ul li {
    color: rgba(255, 255, 255, 0.7);
    list-style: none;
    padding: 4px;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.5;
    background-color: #414141;
    border-radius: 4px;
    margin-right: 0.5rem;

}

.clickContainer8 .belowContent ul li{
    margin-top: 23px;
}

.belowContent p {
    padding: 16px 0px 0px;
    color: white;
    font-size: 16px;
}

.belowContent button {
    margin: 40px 0px 0px;
    background-color: red;
    color: white;
    font-size: 25px;
    font-size: 1.3rem;
    /* font-weight: 500; */
    border-radius: 4px;
    border: none;
    padding: 9px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    width: 10vw;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.belowContent button:hover {
    cursor: pointer;
    background-color: darkred;
    transition: 0.3s ease;
}

.membership .email button:hover {
    cursor: pointer;
    background-color: darkred;
    transition: 0.3s ease;
}


.insideLast{
    width: 88vw;
    /* max-width: 120rem; */
    margin: 0 auto;
    z-index: 2;
    box-sizing: border-box;
}

.reason{
    color: white;
}

.second {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 1rem;
    height: 100%;
    /* border: 2px solid red; */
}

.h2 {
    color: white;
    opacity: 1;
    margin-bottom: 15px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

.card1 {
    width: 100%;
    /* height: 100%; */
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background: linear-gradient(149deg, #192247 0%, #210e17 96.86%);
    border-radius: 1rem;
    margin: 10px;
    position: relative;
    /* display: flex; */

}

.cardText {
    /* border: 1px solid red; */
    /* height: 110%; */
    padding:1.5rem 1rem 8rem 1rem;
}

.second .card1 .cardText .h2 {
    color: white;
    margin-top: 5px;
}

.second .card1 .cardText .p {
    color: white;
    margin-top: 5px;
}

.second .card1 .imgg {
    display: flex;
    flex-direction: row-reverse;
    position: absolute;
    bottom: 0.75rem;
    right: 0.75rem;
    /* margin: 40px 10px; */
}

.faq h2 {
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    /* margin: 20px 0px 10px 0px; */
    margin-top: 50px;
    margin-bottom: 20px;
}

.faq{
    display: flex;
    flex-direction: column;
}

.faq .box {
    color: white;
    font-size: 24px;
    font-weight: 500;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.faq .box span{
    display: flex;
    padding: 24px;
    justify-content: space-between;
    margin-top: 0.5rem;
    background-color: rgb(45, 45, 45);
    transition: answer 5s ease-in-out;
    
}

.answer{
    margin-top: 1px;
    max-height: 0px;
    background-color: rgb(45, 45, 45);
    overflow: hidden;
    color: white;
    transition: max-height 0.5s ease-in-out;

}

.answer p{
    padding: 24px;
}

.answer.drop{
    max-height: 500px;
    transition: max-height 0.5s ease-in-out;
}

.faq .box span:hover {
    cursor: pointer;
    background-color: rgb(60, 60, 60);
    transition: all 0.1 ease-in-out;
}

.faq .box span img {
    filter: invert(1);
}

.plus{
    transition: transform 0.2s;
}

.plus.drop{
    transform: rotate(45deg);
}


.faq .membership {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    color: white;
    margin-top: 50px;
}

.faq .membership h3 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font: 16px;
    font-weight: 400;
}

.email {
    display: flex;
    justify-content: center;
    padding-top: 16px;
}

.faq .membership .email input {
    font-size: 16px;
    padding: 16px;
    width: 35vw;
    background-color: transparent;
    border: 1px solid gray;
    border-radius: 4px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
}

.membership .email button {
    margin-left: 10px;
    background-color: red;
    color: white;
    font-size: 25px;
    font-weight: 500;
    border-radius: 4px;
    border: none;
    padding: 10px 13px 10px 13px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    width: 14vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.membership .email button:hover {
    cursor: pointer;
    background-color: darkred;
    transition: 0.3s ease;
}

footer {
    margin-top: 50px;
    color: gray;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding-bottom: 96px;
}

footer ul {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    line-height: 1.5;
    font-size: 0.875rem;
    font-weight: 400;

}

footer ul li {
    list-style: none;
    margin-bottom: 12px;
}

a {
    color: gray;
}

.end select {
    background-color: transparent;
    color: white;
    padding: 4px 36px 4px 20px;
    font-size: 0.98rem;
    font-weight: 500;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border-radius: 5px;
    margin: 40px 0px 40px 0px;
}