* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html,
body {
    width: 100%;
    height: 100%;
    color: white;
    /* background-color: #111; */
    cursor: default;
    font-family: 'Inter', sans-serif;


}

nav {
    padding: 1.5vw 5.6vw;
    display: flex;
    position: fixed;
    width: 100%;
    height: 12vh;
    z-index: 1000;
    justify-content: space-between;

    background-color: #111;
}

.nav-part2 {
    display: flex;
    align-items: flex-start;
    padding: 1vh 0;
    gap: 2vw;
    position: relative;
    z-index: 10;

}

.nav-part2 h5 {
    margin-top: 1vw;
    /* background-color: red; */
    opacity: 0;
    display: none;
    overflow: hidden;
}

.nav-part2 h5 span {
    font-size: 0.77vw;
    font-weight: 400;
    transform: translateY(20px);
    display: inline-block;
}


nav h4 {
    text-transform: uppercase;
    font-weight: 400;
    font-size: 1vw;
    margin-bottom: 1vw;
}

/* nav:hover .navBottom{
    height: 150%;
    bottom: -150%;
    margin-bottom: 0;
    background-color: #111;

} */

nav .button {
    display: inline-flex;
    align-items: center;
    justify-content: flex-start;
    gap: 0.6vw;
    font-weight: 500;
    font-size: 1vw;
    padding: 0.6vw 1vw;
    border-radius: 2vw;
    text-transform: uppercase;
    /* background-color: #0DA34E; */
    /* height: 100%; */
    position: relative;
    overflow: hidden;
    transition: all 0.3s ease;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;

}

nav .button::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #0DA34E;
    border-radius: 2vw;
    z-index: -1;
    transition: transform 0.4s ease;
    transform: translateX(0%);
  }

  nav .button .text,
nav .button svg {
  position: relative;
  z-index: 2;
  transition: color 0.3s ease, transform 0.4s ease, fill 0.4s ease;
}


nav .button svg {
    height: 1.3vw;
    fill: white;
}

nav .button:hover::before {
    transform: translateX(75%);
}

nav .button:hover .text {
    color: #0DA34E;
    transform: translateX(-0.4vw);
}

nav .button:hover svg {
    fill: #0DA34E;
    border-radius: 50%;
    transform: translateX(0.5vw);
}

.navBottom {
    width: 80%;
    height: 0vh;
    position: absolute;
    background-color: #111;
    top: 100%;
    z-index: 9;
    border-bottom: 1px solid white;
}

#page1 {
    height: 90vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #111;
    overflow: hidden;
}

#page1 h1 {
    font-family: neue-haas-grotesk-display, sans-serif;
    font-weight: 800;
    font-size: 7vw;
    text-transform: uppercase;
    line-height: 8.5vw;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0.3vw;
    letter-spacing: -0.3vw;
    line-height: 1;
    /* border: 2px solid red; */
}

/* .page1h1{
    width: 100%;
} */


#page1 h1 span {
    /* display: inline-block; */
}



#page1 h1 svg {
    height: 6vw;
    padding: 1.7vw;
    /* width: 6vw; */
    background-color: #0DA34E;
    border-radius: 50%;
}

#page1 p {
    font-weight: 450;
    font-size: 1rem;
    margin: 30px;
}

#page1 p .greenText {
    color: #0DA34E;
}

#page1 h1,
#page1 p {
    color: #fff;
}


#page2 {
    height: 89vh;
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #111;
    position: relative;
    background-size: cover;
}

.lod {
    background-color: #111;
}

.vdoContainer {
    width: 89%;
    height: 100%;
    display: flex;
    justify-content: center;
    overflow: hidden;
    position: relative;

}

#page2 .vdo2 {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 0px;
    transform: scaleX(0.7) scaleY(0);
    opacity: 0;
    z-index: 99999;
    pointer-events: auto;
    /* transition: transform 0.8s ease, opacity 0.8s ease; */
}


#page2 .vdo1 {
    height: 89vh;
    width: 100%;
    object-fit: cover;
    position: absolute;
    border-radius: 20px;
}

.page2center {
    position: absolute;
    top: 1%;
    left: 1%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    flex-direction: column;
    border-radius: 50%;
    background-color: #0DA34E;
    padding: 1vw;
    height: 25vh;
    width: 25vh;
    cursor: pointer;
}

.page2center .icon h5 {
    font-size: 1vw;
    padding: 0 20px;
}

.page2center svg {
    height: 2vw;
}

#page3 {
    min-height: 100vh;
    width: 100%;
    margin: auto;
    padding: 25vh 6vw 18vh;
    background-color: #111;
}

.page3Container {
    display: grid;
    grid-template-areas:
        "one one two two three three"
        "four four four five five five"
    ;
    grid-gap: 0.25rem;
}

.gridItem1 {
    grid-area: one;
}

.gridItem2 {
    grid-area: two;
}

.gridItem3 {
    grid-area: three;
}

.gridItem4 {
    grid-area: four;
}

.gridItem5 {
    grid-area: five;
}

.gridItem {
    height: 45vh;
    background-color: #1F1F1F;
    border-radius: 20px;
}

.gridItem1,
.gridItem2,
.gridItem3 {
    height: 52vh;
}

.page3Container .card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    padding: 2rem 1.8rem 1.8rem;
    line-height: 1.3;
    letter-spacing: .01em;
    position: relative;
    height: 100%;
    width: 100%;
}

.page3Container .index {
    font-size: 14px;
    margin-bottom: 4.5rem;
    color: #888;
    z-index: 99;
}

.page3Container .card h2 {
    font-size: 36px;
    font-weight: bold;
    margin: 10px 0;
    z-index: 99;
}

.page3Container .card p {
    font-size: 16px;
    margin: 0;
    color: #A2A2A2;
    z-index: 99;
}

#page3 video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}

.gridItem:nth-child(4) .index {
    margin-bottom: 3.7rem;
}

.gridItem:nth-child(5) .index {
    margin-bottom: 2.5rem;
}

#page4 {
    width: 100%;
    min-height: 110vh;
    background: linear-gradient(312deg, #342F6C 0%, #4F5BFF 0.01%, #0B0E40 99.16%);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
    z-index: -999;
}

#page4 .imgLeft {
    width: 45%;
    height: 50%;
    position: absolute;
    left: -200px;
    top: -80px;
    z-index: -1;
}

.imgLeft img {
    width: 100%;
    /* height: auto; */
    object-fit: cover;
}

#page4 .imgRight {
    position: absolute;
    width: 100%;
    height: 100%;
    scale: 1.4;
    right: -60px;
    top: -60px;
}

.imgRight img {
    width: 100%;
    height: auto;
    object-fit: cover;
}




/* .rellax {
    outline: 2px solid lime;
  } */

#page4 .textContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    // border: 2px solid red;
    position: absolute;
}

#page4 .textContainer h1 {
    text-align: center;
    text-transform: capitalize;
    font-size: 3.7rem;
    padding: 1rem;
}

#page4 .textContainer .endText {
    padding: 10vh 0;
}

#page4 .textContainer .btn {
    background-color: white;
    padding: 2vh 2vw;
    border-radius: 10vw;
    color: #111;
    font-size: small;
    font-weight: 640;
}

#page5 {
    width: 100%;
    min-height: 100vh;
    background-color: white;
    color: black;

}

.story {
    width: 100%;
    height: 90vh;
    display: flex;
}

.story h1 {
    width: 40%;
    font-size: 3.3vw;
    padding: 4rem;
}

.content {
    width: 60%;
    padding: 4rem;

}

.story .content h6 {
    font-size: 12px;
    margin: 0;
    color: #A2A2A2;
    z-index: 99;
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.story .content p {
    font-size: 17px;
    margin: 0;
    color: #111;
    z-index: 99;
    margin-bottom: 20px;
    font-family: neue-haas-grotesk-display, sans-serif;
    line-height: 4.5vh;
    font-weight: 400;
}

.page5Bottom {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 0.25rem;
    padding: 0 4rem 4rem 4rem;
    font-family: neue-haas-grotesk-display, sans-serif;
}

.page5Bottom .index {
    font-size: 14px;
    color: #888;
    z-index: 99;
}

.page5Bottom .cards {
    background-color: #F5F5F5;
    padding: 1.2rem;
    border-radius: 0.3rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.page5Bottom .cards .insideCard {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.page5Bottom .cards h2 {
    font-size: 30px;
    margin: 10px 0 30px 0;
    z-index: 99;
    flex: none;
    line-height: 1.125;
}

.page5Bottom .cards p {
    /* margin: 0; */
    color: #666666;
    z-index: 99;
    font-size: 10px;

}

#page6 {
    min-height: 100vh;
    width: 100%;
    margin: auto;
    padding-top: 5rem;
    background-color: #111;
    padding: 8vw 5.1vw;
}

.page6Top {
    height: 60vh;
}

.page6Top h1 {
    font-size: 44px;
    width: 50%;
    font-family: neue-haas-grotesk-display, sans-serif;
}

.page6Top p {
    padding: 3rem 20rem 0 0;
    font-size: 17px;
    font-weight: 400;
}


.page6Bottom {
    height: 95vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 0;
    border-top: 1px solid #505050;
    transition: all 1s ease;
    cursor: pointer;
}

.page6Bottom .midLeft {
    width: 25%;
    height: 100%;
}

.page6Bottom .midLeft p {
    border-bottom: 1px solid #505050;
    padding: 3px;
    font-size: 8px;
    font-weight: bold;
}

.page6Bottom .midLeft span {
    float: right;
}

.page6Bottom .midLeft button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 7rem;
    padding: 0.8rem;
    background-color: #4F5BFF;
    border: none;
    margin-top: 12vh;
    width: 85%;
    border-radius: 25px;
    color: white;
    font-size: 12px;
    font-weight: bold;
    position: sticky;
    top: 15%;
}

.page6Bottom .midMid {
    width: 32%;
    height: 100%;
}

.page6Bottom .midAnim {
    padding-top: 15px;
    position: relative;
}

.page6Bottom .midAnim video {
    width: 100%;
    height: 51%;
    object-fit: cover;
    margin-top: 23px;
    position: absolute;
    bottom: 0;
    transition: all 0.7s ease;
}

.page6Bottom .midRight video {
    width: 100%;
    height: 51%;
    object-fit: cover;

}

.page6Bottom .midAnim h2 {
    font-size: 26px;
    padding-bottom: 50px;
}

.page6Bottom .midAnim p {
    font-size: 13px;
    color: #999999;

}

.page6Bottom .midRight {
    width: 32%;
    height: 100%;
}

.product {
    padding: 3rem 2rem 3rem 10.4rem;
    width: 80%;
    margin: auto;
    font-size: 3rem;
    font-weight: bold;
    line-height: 10vh;
}

#page7 {
    width: 100%;
    min-height: 100vh;
    position: relative;
    padding: 5vh 6vw;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: space-between;
    background-color: #111;
}

.flex {
    display: flex;
    align-items: flex-start;
    /* flex-direction: column; */
    justify-content: space-between;
}

.page7Right {
    width: 71.5%;
}

#page7 button {
    background-color: #0BA34E;
    padding: 0.9vw 2.5vw;
    font-weight: 600;
    font-size: 1vw;
    border-radius: 50px;
    border: none;
    position: sticky;
    top: 15%;
    color: white;
}

.page7Right>p {
    font-size: 2.2vw;
    font-weight: 400;
    line-height: 1.20833
}

#page7 .page7Content {
    width: 100%;
    margin-top: 4vh;
    padding: 5vh 0;
    border-top: 2px solid #fff;
    cursor: pointer;

}

.page7Content h1 {
    font-size: 3vw;
}

.page7Content .contentBox {
    display: flex;
    flex-wrap: wrap;
    margin: 5vh 0 6vh;
    width: 100%;
    height: 100%;
}

.page7Content .contentBox h4 {
    padding: 7px 10px;
    border-radius: 50px;
    border: 1px solid gray;
    font-weight: 400;
    font-size: 0.9vw;
    font-weight: bold;
    width: auto;
    height: auto;
    text-transform: uppercase;
    font-weight: 600;
    line-height: 1;
}


.page7container .page7elem {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 1s;
    padding-top: 3vh;
    padding-bottom: 9vh;
    overflow: hidden;
    border-top: 1px solid #333;
    position: relative;

}

.page7container .page7elem h3 {
    font-size: 1.6vw;
    font-weight: 400;
    position: relative;
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 1s;
    z-index: 8;
    width: 25%;
}

.page7container .page7elem p {
    width: 55%;
    font-size: 0.8vw;
    position: relative;
    z-index: 8;
}

.page7container .page7elem svg {
    font-size: 1vw;
    position: relative;
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 1s;
    z-index: 8;

}

.over {
    height: 100%;
    width: 100%;
    background-color: #222;
    position: absolute;
    top: 0;
    transform: translateY(-100%);
    opacity: 0;
    /* display: none; */
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 1s;
}

.page7elem:hover h3 {
    padding-left: 1vw;

}

.page7elem:hover i {
    padding-right: 1vw;
}

.page7elem:hover .over {
    transform: translateY(0);
    opacity: 1;
}

.page7elem:hover {
    border-top: 2px solid #fff;
}

summary::marker {
    /* content: ""; */

}


#page8 {
    min-height: 100vh;
    width: 100%;
    background-color: #fff;
    padding: 10vh 10vw;
}

#page8>h1 {
    font-size: 5.5vw;
    color: #000;
    padding-left: 23vw;
    padding-right: 5vw;
    line-height: 5.8vw;
    padding-bottom: 10vh;
    border-bottom: 1px solid #dadada;
}

.page8Content {
    color: #000;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 8vh 0;
}

.page8Content .page8Right {
    width: 70%;
}

.page8Content .page8Right p {
    font-size: 1.5vw;
    color: #000;
    margin-bottom: 5vh;
    width: 80%;
}

.blueBtn {
    background-color: #4f5bff;
    width: 15vw;
    height: 3.5vw;
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 15%;
}

.blueBtn h4 {
    position: absolute;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 0.85vw;
}

.blueBtn h4 i {
    font-size: 1.1vw;
    font-weight: 100;
    margin-left: 0.5vw;
}


.page8Bottom {
    height: 44vh;
    width: 100%;
    border-top: 1px solid #dadada;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    /* color: #000; */
    /* background-color: red; */
}

.btm8Part1 {
    border-right: 1px solid #dadada;
    width: 30%;
    height: 100%;
}

.btm8Part2 {
    border-right: 1px solid #dadada;
    width: 28%;
    height: 100%;
}

.btm8Part3,
.btm8Part4 {
    border-right: 1px solid #dadada;
    width: 15%;
    height: 100%;
}

.btm8Part5 {
    width: 15%;
    height: 100%;
}

.page8Bottom .btm8Parts {
    padding: 3vh 0.6vw;
}

.btm8Parts h5 {
    color: #000;
    font-weight: 500;
    font-size: 0.9vw;
    margin-bottom: 4vh;
}

.page8Bottom .btm8Parts h4 {
    background-color: #111;
    width: 90%;
    padding: 5px 10px;
    margin-bottom: 0.3vh;
    border-radius: 50px;
    font-size: 0.85vw;
    display: flex;
    align-items: center;
    font-weight: 500;
}

.btm8Parts h4 span {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1.5vw;
    height: 1.5vw;
    background-color: #333;
    padding: 0.5vw;
    border-radius: 50%;
    margin-right: 1vw;
}

.btm8Parts h4:nth-child(2) {
    transform: translateX(0);
}

.btm8Parts h4:nth-child(3) {
    transform: translateX(10%);
}

.btm8Parts h4:nth-child(4) {
    transform: translateX(20%);
}

.btm8Parts h4:nth-child(5) {
    transform: translateX(30%);
}

.btm8Parts h4:nth-child(6) {
    transform: translateX(40%);
}

.btm8Parts h4:nth-child(7) {
    transform: translateX(50%);
}



#page9 {
    width: 100%;
    height: 100vh;
    background-color: #111;
}